#myModal{
    background: black;
}
.thank-you{
    text-align: center;
}
.modal-body{
    min-height: 420px;
}
.thank-you{
padding-top: 63px;
}
.modal-dialog{
    width: 399px;
    max-width: 100%;
}
.error{
    color:red
}