<div class="container mt-3">
  <button type="button" class="btn btn-primary open-modal"  id="openModal" data-bs-toggle="modal" data-bs-target="#myModal" data-backdrop="static" data-keyboard="false">
    Open modal
  </button>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" ata-bs-interval="1000">
              <img src="../assets/maesta1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../assets/maesta2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../assets/maesta3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../assets/maesta4.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../assets/maesta5.jpg" class="d-block w-100" alt="...">
            </div>            
          </div>
        </div>
        <form class="was-validated crc-maestra">
          <div *ngIf="!isFormSubmit">
            <h4 mt-3> Zero Brokerage Deals: Your Gateway to Cost-Effective Real Estate!</h4>
            
              <div class="mb-3 mt-3">
                <input class="form-control" id="name" placeholder="name" required/>
                <div class="invalid-feedback" *ngIf="isFormSubmit">
                  Please enter a message in the name.
                </div>
              </div>        
              <div class="mb-3">
                <input type="number" id="phonenumber" class="form-control" X aria-label="phone number" placeholder="phone number"  required>
                <div class="invalid-feedback" *ngIf="isFormSubmit">Please enter the phone number</div>
              </div>
              <div class="mb-3">
                <button class="btn btn-primary" type="submit" (click)="submitEntry()">Submit form</button>
              </div>  
          </div>
        </form>
        <div *ngIf="isFormSubmit">
            <h3 class="thank-you">Thank you</h3>
        </div>
      </div>
    </div>
  </div>
</div>

